Data Discretization and Data Normalization. Use any suitable dataset 
(e.g. heart dataset Data.D/www.kaggle.com/zhaoyinnguage artesv). 
Perform following operations on given dataset suitable programming

a) Find standard deviation, variance of every numerical attribute.

b) Find covariance and perform Correlation analysis using Correlation coefficient.

c) How many independent features are present in the given dataset?

d) Can we identify unwanted features?

e) Perform the data discretization using equi frequency binning method on age attribute

f) Normalize RestBP, chol, and MaxHR attributes (considering above dataset) 
using min-max normalization, Z-score normalization, and decimal scaling normalization.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv("iris.csv")

df.head(4)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

# Data UnderStanding

In [3]:
df.shape

(150, 5)

In [4]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
X = df.drop(columns=['species'])
X.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [9]:
df.std()

C:\Users\ashwi\AppData\Local\Temp\ipykernel_10392\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [10]:
df.var()

C:\Users\ashwi\AppData\Local\Temp\ipykernel_10392\1568254755.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

sepal_length    0.685694
sepal_width     0.188004
petal_length    3.113179
petal_width     0.582414
dtype: float64

In [11]:
df.cov()

C:\Users\ashwi\AppData\Local\Temp\ipykernel_10392\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

In [16]:
for i in X.columns: 
    print(f"the kertosis of {i}== {df[i].kurtosis()}")

the kertosis of sepal_length== -0.5520640413156395
the kertosis of sepal_width== 0.2907810623654279
the kertosis of petal_length== -1.4019208006454036
the kertosis of petal_width== -1.3397541711393433

# Data Opretions

In [17]:
#1. cal var and std and corr without using inbulid functions

In [18]:
df.mean()

C:\Users\ashwi\AppData\Local\Temp\ipykernel_10392\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [21]:
def mean_cal(col):  # Function definition that takes a column name as an argument
    k = 0  # Initialize a variable to store the sum of all values in the column
    for i in range(df[col].shape[0]):  # Iterate through each row index in the column
        k = k + df[col][i]  # Add each value in the column to k
    m = k / df[col].shape[0]  # Compute the mean by dividing the sum by the total number of rows
    return m  # Return the calculated mean

In [22]:
mean_cal('sepal_width')

3.0540000000000007

In [23]:
for i in X : 
    print(f"mean of {i}  {mean_cal(i)}  {df[i].mean()}")

mean of sepal_length  5.843333333333335  5.843333333333334
mean of sepal_width  3.0540000000000007  3.0540000000000003
mean of petal_length  3.7586666666666693  3.758666666666666
mean of petal_width  1.1986666666666672  1.1986666666666668

# Variance

In [24]:
def var_cal(col):  # Function to calculate variance of a column
    k = 0  # Initialize a variable to store the sum of squared differences
    mean_c = mean_cal(col)  # Calculate the mean of the column using mean_cal function
    for i in range(df[col].shape[0]):  # Iterate through each row index in the column
        k = k + ((df[col][i] - mean_c) ** 2)  # Compute squared difference from mean and add it to k
    m = k / df[col].shape[0]  # Compute variance by dividing the sum by the number of elements (N)
    return m  # Return the variance

# A high variance or standard deviation means data points are spread out,
    # while a low value means they are close to the mean.

In [25]:
var_cal('sepal_width')

0.1867506666666667

In [26]:
df['sepal_width'].var()

0.18800402684563763

In [28]:
for i in X : 
    print(f"variance of {i}  {var_cal(i)}  {df[i].var()}")

variance of sepal_length  0.6811222222222222  0.6856935123042505
variance of sepal_width  0.1867506666666667  0.18800402684563763
variance of petal_length  3.0924248888888854  3.1131794183445156
variance of petal_width  0.5785315555555559  0.5824143176733784

# Standard Deviation

In [29]:
def std_cal(col): 
    k = 0  
    mean_c = mean_cal(col)  # Calculate the mean of the column
    for i in range(df[col].shape[0]):  
        k = k + ((df[col][i] - mean_c) ** 2)  # Sum of squared differences from the mean
    variance = k / df[col].shape[0]  # Compute variance
    std_dev = variance ** 0.5  # Take square root to get standard deviation
    return std_dev  # Return the standard deviation

In [30]:
def std_cal(col):
    return df[col].std(ddof=0)  # ddof=0 for population standard deviation, ddof=1 for sample standard deviation

In [31]:
for i in X : 
    print(f"STD D. of {i}  {std_cal(i)}  {df[i].var()}")

STD D. of sepal_length  0.8253012917851409  0.6856935123042505
STD D. of sepal_width  0.4321465800705435  0.18800402684563763
STD D. of petal_length  1.7585291834055201  3.1131794183445156
STD D. of petal_width  0.760612618588172  0.5824143176733784

In [32]:


df.std()

C:\Users\ashwi\AppData\Local\Temp\ipykernel_10392\3637484707.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

# b) Find covariance and perform Correlation analysis using Correlation coefficient.

In [33]:
# co varance of data 
def co_var_cal(col1,col2) : 
    k=0
    mean_c1=mean_cal(col1)
    mean_c2=mean_cal(col2)
    for i in range(df.shape[0]): 
        k=k+((df[col1][i] - mean_c1)*(df[col2][i] - mean_c2))
    m=k/df.shape[0]
    return m;        
#Covariance is a statistical measure that quantifies the relationship between two variables.
    #It indicates whether two variables tend to increase or decrease together.

#If covariance is positive, it means that as one variable increases, the other also tends to increase.
#If covariance is negative, one variable increases while the other decreases. 
#A covariance of zero indicates no relationship between the two variables.

In [34]:
co_var_cal('sepal_width','sepal_length')

-0.03900666666666667

In [35]:
for i in X: 
    for j in X: 
        print(f"co-var {i} and {j}  {co_var_cal(i,j)}")

co-var sepal_length and sepal_length  0.6811222222222222
co-var sepal_length and sepal_width  -0.03900666666666667
co-var sepal_length and petal_length  1.2651911111111114
co-var sepal_length and petal_width  0.5134577777777779
co-var sepal_width and sepal_length  -0.03900666666666667
co-var sepal_width and sepal_width  0.1867506666666667
co-var sepal_width and petal_length  -0.31956800000000013
co-var sepal_width and petal_width  -0.11719466666666661
co-var petal_length and sepal_length  1.2651911111111114
co-var petal_length and sepal_width  -0.31956800000000013
co-var petal_length and petal_length  3.0924248888888854
co-var petal_length and petal_width  1.2877448888888892
co-var petal_width and sepal_length  0.5134577777777779
co-var petal_width and sepal_width  -0.11719466666666661
co-var petal_width and petal_length  1.2877448888888892
co-var petal_width and petal_width  0.5785315555555559

In [36]:
# co relection  
import math  # Importing math module for square root calculation

def co_reletion(col1, col2):  # Function to calculate correlation coefficient
    k = 0  # Unused variable (can be removed)
    
    co_var = co_var_cal(col1, col2)  # Compute covariance using a predefined function `co_var_cal`
    
    std1 = math.sqrt(var_cal(col1))  # Compute standard deviation of col1 (square root of variance)
    std2 = math.sqrt(var_cal(col2))  # Compute standard deviation of col2 (square root of variance)

    m = co_var / (std1 * std2)  # Compute correlation coefficient (Pearson's correlation formula)
    
    return m  # Return the correlation value
          

#If r > 0: There is a positive correlation (as X increases, Y tends to increase).
#If r < 0: There is a negative correlation (as X increases, Y tends to decrease).
#If r â‰ˆ 0: No significant correlation.

In [37]:
for i in X: 
    for j in X: 
        print(f"co-relation {i} and {j}  {co_reletion(i,j)}")

co-relation sepal_length and sepal_length  0.9999999999999999
co-relation sepal_length and sepal_width  -0.10936924995064935
co-relation sepal_length and petal_length  0.8717541573048718
co-relation sepal_length and petal_width  0.8179536333691633
co-relation sepal_width and sepal_length  -0.10936924995064935
co-relation sepal_width and sepal_width  1.0000000000000002
co-relation sepal_width and petal_length  -0.42051609640115495
co-relation sepal_width and petal_width  -0.3565440896138055
co-relation petal_length and sepal_length  0.8717541573048718
co-relation petal_length and sepal_width  -0.42051609640115495
co-relation petal_length and petal_length  1.0
co-relation petal_length and petal_width  0.9627570970509667
co-relation petal_width and sepal_length  0.8179536333691633
co-relation petal_width and sepal_width  -0.3565440896138055
co-relation petal_width and petal_length  0.9627570970509667
co-relation petal_width and petal_width  0.9999999999999998

# c) How many independent features are present in the given dataset?

In [38]:
import pandas as pd
num_features = df.shape[1] - 1  # Subtracting target column
print("Number of independent features:", num_features)
# df.shape returns the shape of the DataFrame as (rows, columns).
# df.shape[1] gives the number of columns (features + target variable).
# -1 is used to exclude the target column (dependent variable), assuming it is present in the dataset.

Number of independent features: 4

In [39]:
# d) Can we identify unwanted features?

In [40]:
import pandas as pd
# Compute the correlation matrix
corr_matrix = df.corr()

# Set a threshold for correlation (e.g., 0.9 means features with correlation > 0.9 will be removed)
threshold = 0.9

# Get pairs of highly correlated features
high_corr_var = np.where(corr_matrix > threshold)

# List of feature pairs with high correlation
high_corr_pairs = [(df.columns[x], df.columns[y]) for x, y in zip(*high_corr_var) if x != y and x < y]

# Print out highly correlated pairs
print("Highly Correlated Features:", high_corr_pairs)

# Drop one feature from each highly correlated pair
for feature1, feature2 in high_corr_pairs:
    df = df.drop(columns=[feature2])  # You can choose to drop either of the correlated features

# Final dataset with reduced features
print("Dataset after removing highly correlated features:")
print(df.head())

Highly Correlated Features: [('petal_length', 'petal_width')]
Dataset after removing highly correlated features:
   sepal_length  sepal_width  petal_length species
0           5.1          3.5           1.4  setosa
1           4.9          3.0           1.4  setosa
2           4.7          3.2           1.3  setosa
3           4.6          3.1           1.5  setosa
4           5.0          3.6           1.4  setosa

C:\Users\ashwi\AppData\Local\Temp\ipykernel_10392\3637967043.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

In [51]:
# Equi-frequency binning on sepal_length into 3 bins
df['sepal_length_bins'] = pd.qcut(df['sepal_length'], q=3, labels=['Low', 'Medium', 'High'])

print(df[['sepal_length', 'sepal_length_bins']].head(20))

    sepal_length sepal_length_bins
0            5.1               Low
1            4.9               Low
2            4.7               Low
3            4.6               Low
4            5.0               Low
5            5.4               Low
6            4.6               Low
7            5.0               Low
8            4.4               Low
9            4.9               Low
10           5.4               Low
11           4.8               Low
12           4.8               Low
13           4.3               Low
14           5.8            Medium
15           5.7            Medium
16           5.4               Low
17           5.1               Low
18           5.7            Medium
19           5.1               Low

f) Normalize RestBP, chol, and MaxHR attributes (considering above dataset) 
using min-max normalization, Z-score normalization, and decimal scaling normalization.

In [45]:
# Min-Max Scaling on numeric Iris features
cols = ['sepal_length', 'sepal_width', 'petal_length']

for col in cols:
    min_val = df[col].min()
    max_val = df[col].max()
    df[f'{col}_minmax'] = (df[col] - min_val) / (max_val - min_val)

print("Min-Max Scaling:\n", df[[f'{c}_minmax' for c in cols]].head())

Min-Max Scaling:
    sepal_length_minmax  sepal_width_minmax  petal_length_minmax
0             0.222222            0.625000             0.067797
1             0.166667            0.416667             0.067797
2             0.111111            0.500000             0.050847
3             0.083333            0.458333             0.084746
4             0.194444            0.666667             0.067797

In [47]:
# Z-score Scaling on numeric Iris features
cols = ['sepal_length', 'sepal_width', 'petal_length']

for col in cols:
    mean = df[col].mean()
    std = df[col].std()
    df[f'{col}_zscore'] = (df[col] - mean) / std

print("Z-score Scaling:\n", df[[f'{c}_zscore' for c in cols]].head())

Z-score Scaling:
    sepal_length_zscore  sepal_width_zscore  petal_length_zscore
0            -0.897674            1.028611            -1.336794
1            -1.139200           -0.124540            -1.336794
2            -1.380727            0.336720            -1.393470
3            -1.501490            0.106090            -1.280118
4            -1.018437            1.259242            -1.336794

In [49]:
# Decimal Scaling on numeric Iris features
cols = ['sepal_length', 'sepal_width', 'petal_length']

for col in cols:
    max_val = abs(df[col]).max()
    j = len(str(int(max_val)))
    df[f'{col}_decimal'] = df[col] / (10 ** j)

print("Decimal Scaling:\n", df[[f'{c}_decimal' for c in cols]].head())

Decimal Scaling:
    sepal_length_decimal  sepal_width_decimal  petal_length_decimal
0                  0.51                 0.35                  0.14
1                  0.49                 0.30                  0.14
2                  0.47                 0.32                  0.13
3                  0.46                 0.31                  0.15
4                  0.50                 0.36                  0.14

In [41]:
# minmax scaling 
# z-score scalign 
# decmail scaling